<% provide(:title, 'Cheam Croquet & Bowls Club | How To Join') %>
<h2>
  <% provide(:heading, 'How To Join') %>
</h2> 
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed tempor quam, quis condimentum dolor. 
  Integer ut ante porttitor, consequat erat ac, suscipit enim. Pellentesque bibendum sit amet arcu vestibulum mattis. 
  Proin ac venenatis magna. Donec arcu massa, venenatis a venenatis nec, aliquet vitae odio. Pellentesque habitant morbi 
  tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus fringilla magna dolor, eu consequat lacus 
  facilisis et.
  <br /><br />
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes,
  nascetur ridiculus mus. In hac habitasse platea dictumst. Nullam auctor sem id purus lobortis, ut sagittis leo ultrices. 
  Morbi quis augue est. Aenean ut purus nulla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
  ridiculus mus. Donec aliquet tortor sit amet gravida iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Sed tristique tristique venenatis. Proin id tempus ipsum. Curabitur auctor quam in hendrerit malesuada. Donec fermentum
  varius commodo. Donec nec mi odio.
  <br /><br />
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nec purus scelerisque,
  tincidunt dui vitae, hendrerit ante. Proin tempor ut metus at vehicula. Morbi vel tincidunt eros. Morbi sagittis turpis
  vel sollicitudin sodales. Curabitur dapibus urna quis sem blandit volutpat nec pellentesque purus. In non diam urna.
  Sed laoreet lorem ipsum, at interdum libero faucibus vitae. Vestibulum ut sapien sed massa fermentum posuere id nec 
  augue. Sed vel odio posuere, volutpat magna vitae, sollicitudin quam. Praesent sit amet diam vel sapien tristique 
  porttitor eu sit amet nisl. Nulla a tortor posuere neque laoreet ultricies. Nunc vel nulla eget lectus scelerisque
  tincidunt. Maecenas blandit ipsum id tellus interdum, at molestie elit semper.
  <br /><br />
  In condimentum vel enim in suscipit. Nullam vulputate venenatis velit, at rutrum libero posuere sed. Praesent 
  tincidunt faucibus nisi, vitae laoreet dolor porttitor vel. Etiam suscipit neque a nisi scelerisque rutrum. 
  Nunc convallis nibh enim, at cursus tellus tincidunt nec. Maecenas nisi risus, aliquam non ante sed, bibendum 
  interdum metus. Nullam pharetra, mauris quis ultrices semper, nibh augue venenatis lectus, id rhoncus tortor 
  purus ac lacus. Integer ut imperdiet quam. Cras porttitor in enim et consectetur. Morbi id malesuada mauris. 
  Ut in magna nec nisi accumsan tincidunt. Mauris sed est sit amet odio eleifend egestas. Maecenas malesuada mauris
  scelerisque, laoreet orci ut, vestibulum risus. Morbi vulputate rhoncus felis, et euismod nisl venenatis eget. 
  Aliquam fermentum convallis purus.
</p>
