<% provide(:title, "Cheam Croquet & Bowls Club | Newsletters") %>
<% provide(:heading, "Newsletters") %>
<article id = "newsletters">
  <% @newsletters.each do |newsletter| %>
  <b><%= newsletter.name %> </b>
  <p><%= link_to "Download", newsletter.pdf_url %> </p>
  <% end %>
</article>