@import "bootstrap";

nav {
  font-size : 13px;
}

#scrolldiv {
  overflow: auto;
  padding: 20px;
  padding-top: 0px;
}

hr {
  border-color: #BBB;
}

section {
  overflow: auto;
}

.hero-unit {
  padding: 30px;
}


textarea {
  resize: vertical;
}

body {
  padding-top: 60px;
  background-color: #78AB46;
}

html {
  overflow-y: scroll;
}

p {
  font-size : 15px;
  line-height : 140%;
}

h2 {
  letter-spacing: -1px;
}

#logo { 
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #78AB46;
  text-decoration: none;
}